html
    head
        title Проект "Туманный мир"
        link(rel='stylesheet' href='/css/common.css')
    body
      div
        h1 Проект "Туманный мир"
        p Пока здесь ничего нет, но кто знает, что будет завтра...
