html
    head
        title Проект "Туманный мир"
        link(rel='stylesheet' href='/css/common.css')
    body
      div
        div
          img(src="/img/logo.png")
        div
          h1 Проект "Туманный мир"
          p Сегодня этот мир лишь младенец, и никто знает, каким он станет завтра...
        div#link
          a(href="ya.ru")
            img(src="/img/vk.png")
            | Группа разработчиков ВКонтакте
